main {
    display: flex;
    justify-content: space-around;
}

.container {
    background-color: goldenrod;
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.box {
    width: 30px;
    margin: 10px; 
    height: 30px;
    background-color: greenyellow;
}

.other-container {
    background-color: rgb(92, 73, 124);
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.other-box {
    width: 30px;
    margin: 10px; 
    height: 30px;
}


.highlighted {
    background-color: black;
}
